@font-face {
    font-family: 'Raleway';
    src: 
     url(./Raleway-Bold.ttf) format('truetype');
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: 'Raleway';
    src: 
     url(./Raleway-Regular.ttf) format('truetype');
    font-display: swap;
    font-weight: 400;
}