.content-section {
  width: 1100px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin: 0;
  padding: 0;
}

.header__menu-link {
  color: #000;
  text-decoration: underline;
  font-size: 18px;
}

.header__menu-item_active {
  list-style: none;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  width: 100%;
  display: block;
}

.header__address {
  font-style: normal;
  justify-self: end;
  width: 230px;
}

.header__address-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__address-item {
  line-height: 24px;
  font-size: 18px;
}

.header__address-link {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  font-family: "Raleway";
  position: relative;

  height: 757px;
  padding: 165px 50px 50px;

  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: #fff;
}

.cover > * {
  position: relative;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  line-height: 115px;

  margin: 0;

  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.accent-span {
  display: block;
}

.text-center {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.text-right {
  display: block;
  text-align: right;
  margin-top: 20px;
}

.intro__title {
  margin-top: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__title-text {
  margin: 0;

  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;

  word-spacing: 18px;
}

.intro__button {
  width: 256px;
  height: 51px;

  border: 1px solid #fff;

  background: transparent;

  color: white;

  font-size: 22px;
  text-transform: uppercase;

  cursor: pointer;
}

.lots {
  margin: 180px auto 0;
}

.lots__title {
  margin: 0 0 27px 40px;

  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__list {
  display: flex;
  gap: 25px;

  margin: 0;
  padding: 0;

  list-style: none;
}

.lots__list-item {
  flex: 1;
  min-height: 596px;
}

.card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  min-height: 596px;
  padding: 48px 40px;

  background-size: cover;
  background-position: center;

  color: #fff;
}

.card::before {
  content: "";

  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.6);
}

.card > * {
  position: relative;
  z-index: 1;
}

.card__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1.2;
  text-underline-offset: 3px;
  margin: 0;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin: 0;
}

.lots__look-more {
  display: inline-block;

  margin-top: 30px;
  margin-left: 40px;

  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.card_type_film {
  background-image: url(../images/film.jpg);
}

.card_type_book {
  background-image: url(../images/book.png);
}

.card_type_picture {
  background-image: url(../images/picture.jpg);
}

.about {
  width: 1052px;
  margin: 120px auto 0;

  display: grid;
  grid-template-columns: 240px 1fr;
  column-gap: 72px;
}

.about__logo {
  width: 240px;
  height: 240px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  padding-top: 100px;
}

.about__title {
  margin-bottom: 100px;

  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
}

.about__text p:not(:last-child) {
  margin-bottom: 24px;
}

.footer {
  margin: 180px auto 0;
  padding: 0 50px 82px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__address {
  width: 264px;
  font-style: normal;
}

.footer__address-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__address-item {
  font-size: 18px;
  line-height: 24px;
}

.footer__address-link {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.footer__menu-item {
  font-size: 18px;
  line-height: 21px;
}

.footer__menu-link {
  color: #000;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-item_active .footer__menu-link {
  text-decoration: none;
}

.footer__social-links {
  display: flex;
  gap: 48px;
  justify-self: end;
  align-items: center;
}

.footer__social-link {
  display: block;
  text-decoration: none;
  line-height: 0;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}
